# Игнорирование логов 
logs 
*.log 
# Игнорирование файлов специфичных для IDE 
.idea/
.idea
.vscode/ 
*.sw*
*.iml

target/
.repository/
*.properties
*.jar
/out/
/JavaRushPlugin.properties
/JavaRushTasks.iml
/Instruction.png
/out.log
/out.log.*
Quest.info